<!doctype html>
<html lang="en">
  <head>
	  <!-- loaded static hear -->
	  {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Register</title>
  </head>
  <body>



  <!DOCTYPE HTML>
<html lang="en">
<head>
     {% load static %}

        <title>Luigi's</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        <!-- Stylesheets -->
        <link href="{% static 'mainapp/plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'mainapp/plugin-frameworks/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'mainapp/fonts/ionicons.css' %}" rel="stylesheet">
        <link href="{% static 'mainapp/common/styles.css' %}" rel="stylesheet">

</head>
<body>

<header>
        <div class="container">
                <a class="logo" href="#"><img src="{% static 'mainapp/images/logo-white.png' %}" alt="Logo"></a>

                <div class="right-area">
                        {% if user.is_authenticated %}
                          <li><a href="/logout">Logout</a></li>
                          {% endif %}
                </div>

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>


                <ul class="main-menu font-mountainsre" id="main-menu">
                        <li><a href="http://127.0.0.1:8000/">HOME</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/menu">MENU</a></li>
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                     {% if user.is_authenticated %}
                           <a href="#">{{request.user}}</a>
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Cart">Cart (<span class="total-count"></span>)</button>
                                    <button class="clear-cart btn btn-danger">Clear Cart</button>
                                </li>
                </ul>
            {% endif %}

                <div class="clearfix"></div>
        </div><!-- container -->
</header>


<section class="bg-6 h-500x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white pt-90">
<!--                                <h5><b>SAY HELLO</b></h5>-->
                                <h3 class="mt-30 mb-15">Register</h3>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text">
<!--        <div class="container">-->
<!--                <div class="heading">-->
<!--                        <img class="heading-img" src="images/heading_logo.png" alt="">-->
<!--                        <h2>Say hello</h2>-->
<!--                        <h5 class="mt-10 mb-30">Say hello, send us a message</h5>-->
<!--                        <p class="mx-w-700x mlr-auto">Proin dictum viverra varius. Etiam vulputate libero dui, at pretium-->
<!--                                elit elementum quis. Enean porttitor eros non ultrices convallis.-->
<!--                                Vivamus quis dolor ut arcu lobortis finibus a vitae leo. Sed eget tempus sem.-->
<!--                                Nullam sed lacus sed metus tincidunt lobortis lobortis at nibh. Morbi euismod, arcu in gravida rhoncus</p>-->
<!--                </div>-->

<!--                <form class="form-style-1 placeholder-1">-->
<!--                        <div class="row">-->
<!--                                <div class="col-md-6"> <input class="mb-20" type="text" placeholder="Name">  </div>-->
<!--                                <div class="col-md-6"> <input class="mb-20" type="text" placeholder="E-mail">  </div>-->
<!--                                <div class="col-md-12"><input class="mb-20" type="text" placeholder="Subject">  </div>-->
<!--                                <div class="col-md-12">-->
<!--                                        <textarea class="h-200x ptb-20" placeholder="Message"></textarea></div>-->
<!--                        </div>&lt;!&ndash; row &ndash;&gt;-->
<!--                        <h6 class="center-text mtb-30"><a href="#" class="btn-primaryc plr-25"><b>SEND MESSAGE</b></a></h6>-->
<!--                </form>-->
<!--        </div>&lt;!&ndash; container &ndash;&gt;-->
  <body>
    <div id="login">
<!--        <h3 class="text-center text-white pt-5">Login form</h3>-->
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form name="login-form" class="form" onsubmit="return validation()" action="" method="post">
                              {% csrf_token %}
<!--                            <h3 class="text-center text-info">Login</h3>-->
                            <div class="form-group">
                                <label for="Full_Name" class="text-info">Full Name:</label><br>
                                <input type="text" name="full_name" id="full_Name1" class="form-control" autocomplete="off">
                                <span id="full_name" class="text-danger font-weight-bold"> </span>
                            </div>
                            <div class="form-group">
                                <label for="email_address" class="text-info">E-Mail Address:</label><br>
                                <input type="email" name="email_address" id="email_address" class="form-control" autocomplete="off">
                                <span id="emailids" class="text-danger font-weight-bold"> </span>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="user" id="user" class="form-control" autocomplete="off">
                                <span id="username" class="text-danger font-weight-bold"> </span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" autocomplete="off">
                                <span id="passwords" class="text-danger font-weight-bold"> </span>
                            </div>
                             <div class="form-group">
                                <label for="Confirm password" class="text-info">Confirm Password:</label><br>
                                <input type="password" name="confirm_password" id="Confirm password" class="form-control" autocomplete="off">
                                 <span id="confrmpass" class="text-danger font-weight-bold"> </span>
                            </div>
                             <div class="form-group">
                                <label for="Phone number" class="text-info">Phone number:</label><br>
                                <input type="number" name="pno" id="Phone number" class="form-control" autocomplete="off">
                                 <span id="mobileno" class="text-danger font-weight-bold"> </span>
                            </div>
                             <div class="form-group">
                                <label for="Date_of_birth" class="text-info">Date of birth:</label><br>
                                <input type="date" name="date_of_birth" id="date_of_birth1" class="form-control" autocomplete="off">
                                 <span id="Date_of_Birth" class="text-danger font-weight-bold"> </span>

                            </div>
                             <div class="form-group">
                                <label for="user adress line 1" class="text-info">user adress line 1:</label><br>
                                <input type="text" name="address1" id="user adress line 1" class="form-control" autocomplete="off">
                                 <span id="user_address1" class="text-danger font-weight-bold"> </span>
                            </div>
                             <div class="form-group">
                                <label for="user adress line 2" class="text-info">user adress line 2:</label><br>
                                <input type="text" name="address2" id="user adress line 2" class="form-control" autocomplete="off">
                                 <span id="user_address2" class="text-danger font-weight-bold"> </span>
                            </div>
                             <div class="form-group">
                                <label for="City" class="text-info">City:</label><br>
                                <input type="text" name="city" id="City" class="form-control" autocomplete="off">
                                 <span id="user_city" class="text-danger font-weight-bold"> </span>
                            </div>
                             <div class="form-group">
                                <label for="State" class="text-info">State:</label><br>
                                <input type="text" name="state" id="State" class="form-control" autocomplete="off">
                                 <span id="user_state" class="text-danger font-weight-bold"> </span>
                            </div>
                            <div class="form-group">
                                <label for="Country" class="text-info">Country:</label><br>
                                <input type="text" name="countary" id="Country" class="form-control" autocomplete="off" >
                                <span id="user_countary" class="text-danger font-weight-bold"> </span>
                            </div>

                            <div class="form-group">
<!--                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>-->
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit" autocomplete="off">  <input type="reset" name="Cancel" class="btn btn-info btn-md" value="reset">
                            </div>
                            <div id="register-link" class="text-right">
<!--                                <a href="/Login/" class="text-info">Login here</a>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</section>

<script type="text/javascript">


		function validation(){

			var user = document.getElementById('user').value;
			var pass = document.getElementById('password').value;
			var confirmpass = document.getElementById('Confirm password').value;
			var mobileNumber = document.getElementById('Phone number').value;
			var emails = document.getElementById('email_address').value;





			if(user == ""){
				document.getElementById('username').innerHTML =" ** Please fill the username field";
				return false;
			}
			if((user.length <= 2) || (user.length > 20)) {
				document.getElementById('username').innerHTML =" ** Username lenght must be between 2 and 20";
				return false;
			}
			if(!isNaN(user)){
				document.getElementById('username').innerHTML =" ** only characters are allowed";
				return false;
			}







			if(pass == ""){
				document.getElementById('passwords').innerHTML =" ** Please fill the password field";
				return false;
			}
			if((pass.length <= 5) || (pass.length > 20)) {
				document.getElementById('passwords').innerHTML =" ** Passwords lenght must be between  5 and 20";
				return false;
			}


			if(pass!=confirmpass){
				document.getElementById('confrmpass').innerHTML =" ** Password does not match the confirm password";
				return false;
			}



			if(confirmpass == ""){
				document.getElementById('confrmpass').innerHTML =" ** Please fill the confirmpassword field";
				return false;
			}




			if(mobileNumber == ""){
				document.getElementById('mobileno').innerHTML =" ** Please fill the mobile NUmber field";
				return false;
			}
			if(isNaN(mobileNumber)){
				document.getElementById('mobileno').innerHTML =" ** user must write digits only not characters";
				return false;
			}
			if(mobileNumber.length!=10){
				document.getElementById('mobileno').innerHTML =" ** Mobile Number must be 10 digits only";
				return false;
			}



			if(emails == ""){
				document.getElementById('emailids').innerHTML =" ** Please fill the email idx` field";
				return false;
			}
			if(emails.indexOf('@') <= 0 ){
				document.getElementById('emailids').innerHTML =" ** @ Invalid Position";
				return false;
			}

			if((emails.charAt(emails.length-4)!='.') && (emails.charAt(emails.length-3)!='.')){
				document.getElementById('emailids').innerHTML =" ** . Invalid Position";
				return false;
			}
		}

	</script>



<!--<div class="map-area h-700x mb&#45;&#45;30">-->
<!--        <div id="map" style="height:100%;"></div>-->
<!--</div>&lt;!&ndash; map-area &ndash;&gt;-->

<footer class="pb-50  pt-70 pos-relative footer-bg-1">

        <div class="container-fluid">
                <a href="index.html"><img src="{% static 'mainapp/images/logo-white.png' %}" alt="Logo"></a>

                <div class="pt-30">
                        <p class="underline-secondary"><b>Address:</b></p>
                        <p>Nana Bazar, vvn-388120 </p>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Phone:</b></p>
                        <a href="mob:+91 9638117190 ">+91 9638117190 </a>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Email:</b></p>
                        <a href="mailto:naikpranshu10@gmail.com"> naikpranshu10@gmail.com</a>
                </div>

                <ul class="icon mt-30">
                        <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
                </ul>

                <p class="color-light font-9 mt-50 mt-sm-30"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div><!-- container -->
</footer>

<!-- SCIPTS -->
<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-oEyU88bRR6xcbV1gI_Cahc8ugKC_JPE&callback=initMap"></script>

</body>
</html>